In [1]:
import numpy as np
import scipy.stats as st

#define sample data
data = [12, 12, 13, 13, 15, 16, 17, 22, 23, 25, 26, 27, 28, 28, 29]

#create 95% confidence interval for population mean weight

st.t.interval(alpha=0.95,df=len(data)-1,loc=np.mean(data),scale=st.sem(data))

(16.75776979778498, 24.042230202215016)

In [2]:
#create 99% confidence interval for same sample
st.t.interval(alpha=0.99,df=len(data)-1,loc=np.mean(data),scale=st.sem(data))

(15.3447902793728, 25.455209720627195)

In [4]:
import numpy as np
import scipy.stats as st

#define sample data
np.random.seed(0)
data = np.random.randint(10, 30, 50)

data
#create 95% confidence interval for population mean weight
st.norm.interval(alpha=0.95,loc=np.mean(data),scale=st.sem(data))

(17.400060940568054, 21.079939059431943)

In [5]:
#create 99% confidence interval for same sample
st.norm.interval(alpha=0.99,loc=np.mean(data),scale=st.sem(data))

(16.821910186405187, 21.65808981359481)

In [12]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/dhanyahari07/Data_Science/master/Datasets/titanic.csv')

In [13]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [14]:
df.shape

(891, 12)

In [15]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [16]:
df.dropna(inplace=True)

In [17]:
data=df['Age'].sample(30)

In [20]:
#create 95% confidence interval for population mean weight
st.norm.interval(alpha=0.80, loc=np.mean(data), scale=st.sem(data))

(31.81273779344947, 40.91526220655054)

In [18]:
df['Age'].mean()

35.6744262295082